@import "../../variables";

p {
  margin: 0;
}
h3 {
  margin: 0;
}

.project {
  width: calc(100% - 200px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 350px;
  position: relative;
  max-width: 800px;

}


.project__heading {
  @include heading;
  color: $main-font-color;
  width: 100%;
}

.project__technologies  {
  @include font-color-secondary;
  color: var(--additional-background-color);
  font-size: $size-main-text;
  text-align: left;
  margin-bottom: 10px;
  position: relative;

}
 .project__technology {
   background-color: $main-font-color;
   border-radius: 20px;
   padding: 5px 10px;
   margin-right: 5px;
   text-align: center;
   white-space: nowrap;
 }

.project__description {
  width: 400px;
  min-height: 100px;
  @include font-color-main;
  font-size: $size-main-text;
  background-color: $background-block-color;
  z-index: 2;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  padding: 20px;
  border-radius: 30px;
}


p {
  margin: auto;
  text-align: left;
}
.project__field {
  display: flex;
  width: calc(100% - 200px);
}

.project__pic {
  width: 450px;
  height: 300px;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
}



.project__pic_cover {
  composes: project__pic;
  opacity: 0.5;
  background-color: $background-block-color;
  transition: opacity 0.3s ease;
  color: $main-font-color;
  font-size: $size-main-text;
  display: flex;
}

.project_capture {
  font-size: $size-headings;
  margin: auto;
}

.project__pic_cover:hover {
  opacity: 0;
}

.project__links {
  font-size: 16px;
  color: white;
  text-align: left;
  margin-top: 5px;
}

.project__github_img {
  width: 40px;
  height: 40px;
  fill: white;
  margin-right: 10px;
  transition: opacity .3s ease;
}

.project__github_img:hover{
  opacity: .5;
}

@media screen and (max-width: 960px) {
.project__pic {
  width: 400px;
  height: 267px;
}

  .project__description {
    width: 333px;
  }

}




@media screen and (max-width: 900px) {
  .project {
    align-items: center;
  }
  .project__pic {
    position: relative;
    margin: 0 auto
  }
  .project__pic_cover {
    display: none;
  }
  .project__description {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    text-align: center;
  }
  .project__links {
    text-align: center;
  }
  .project__technologies {
    text-align: center;
  }
  .project__heading {
    text-align: center;
  }


}

@media screen and (max-width: 600px) {

  .project {
    width: calc(100% - 100px);
  }
  .project__pic {
    width: 100%;
    height: auto;
  }

  .project__description {
    width: 100%;
    font-size: $size-small-text;
  }

  .project__technology {
    font-size: $size-small-text;
  }

  .project__technology {
    font-size: $size-medium-text;
  }
  .project__heading {
    @include heading-medium;
    color: $main-font-color;
    margin-top: 0;
  }

}


@media screen and (max-width: 450px) {
  .project {
    width: 100%;
  }

  .project__technology {
    font-size: $size-small-text;
  }

  .project__heading {
    text-align: center;
    @include heading-small;
    margin-top: 0;
    color: $main-font-color;
  }
}