@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 50%;
  }
}


.App {
  text-align: center;
  background: var(--background-color);
  animation: gradient 5s ease infinite;
  background-size: 200% 200%;
}
