@import "../../variables";

.footer {
  height: 100px;
 // background-color: $background-block-color;
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.footer__text {
  @include font-color-main;
  margin-right: 20px;
}
.switch {
  width: 50px;
  height: 30px;
  background-color: var(--switcher-background);
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
}

.switcher__circle {
 width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $main-font-color;
}

@media screen and (max-width: 900px) {
  .footer {
    height: 80px;
  }

  .switch {
    width: 35px;
    height: 20px;}

  .switcher__circle {
    width: 20px;
    height: 20px;}

}



@media screen and (max-width: 450px) {

  .footer {
    height: 50px;
    padding: 10px;
  }

}