@import "../../variables.scss";

.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    color: $main-font-color;
    //background-image: var(--header-background);
}

.header__name_wrapper {
    display: flex;
}

.header__name {
    font-family: $font-family-main;
    font-size: $size-headings;
    margin: 0;
}

.header__surname {
    composes: header__name;
    color: $secondary-color;

}

.header__list {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: $font-family-main;
}
.header__list_item {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: $main-font-color;
    transition: color .3s ease;
    text-decoration: none;
}

.header__list_item:hover {
    color: $secondary-color;
}



.activeLink {
    composes: header__list_item;
    color: $secondary-color
}

.header__button {
    display: none;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: var(--menu-icon);
    background-size: contain;
    transition: opacity .3s ease;
}

.header__button:hover {
    opacity: .7;
}
@media screen and (max-width: 900px) {

    .header{
        height: 100px;
    }
    .header__list {
        display: none;
    }

    .header__list_active {
        display: flex;
        flex-direction: column;
        background-color: $background-block-color;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        justify-content: center;
        align-items: center;
    }

    .header__button {
        display: block;
    }

    .header__name {
        font-size: 25px;
    }

    .header__surname {
        composes: header__name;
        font-size: 25px;

    }
    .header {
        padding: 0 50px;
    }

}

@media screen and (max-width: 450px) {
    .header {
        padding: 0 20px;
        height: 80px;
    }
    .header__name {
        font-size: 20px;
    }

    .header__surname {
        composes: header__name;
        font-size: 20px;

    }


}